<script>
	import { Header, HeaderUtilities, Search } from 'carbon-components-svelte';
	import flat from '$data/flat.json';
	let value = '';
	const handleKeyUp = (e) => {
		console.log(value);
	};
</script>

<Header company="Newberry" platformName="IMLS Transcribe">
	<HeaderUtilities>
		<Search bind:value on:keyup={(e) => handleKeyUp(e)} />
	</HeaderUtilities>
</Header>
