<script>
	import {
		Header,
		HeaderUtilities,
		HeaderSearch,
		Grid,
		Row,
		Column,
		HeaderGlobalAction
	} from 'carbon-components-svelte';

	import SettingsAdjust from 'carbon-icons-svelte/lib/SettingsAdjust.svelte';
	let ref = null;
	let active = true;
	let value = '';
	let selectedResultIndex = 0;
	let events = [];
</script>

<Header company="Newberry" platformName="IMLS Transcribe" href="./">
	<HeaderUtilities>
		<HeaderSearch
			submitUrl={value}
			bind:ref
			bind:active
			bind:value
			bind:selectedResultIndex
			placeholder="Search IMLS Items..."
		/>
	</HeaderUtilities>
</Header>
