<script>
	import { page } from '$app/stores';
	import imlsTransc from '$data/transc.json';
	import items from '$data/items.json';
	import { textId, textContent, itemData } from '$src/stores';
	import { Content } from 'carbon-components-svelte';
	import Tiles from '$lib/Tiles.svelte';
	import TextContent from '$lib/TextContent.svelte';

	// const textId = $page.url.pathname.replace('/', '');
	// const textContent = imlsTransc.filter((item) => item.id == textId)[0];
	// const itemData = items.filter((item) => item.id == textId)[0];
</script>

<slot name="content">
	<Content>
		<div class="content-wrapper">
			<div class="left"><Tiles /></div>
			<div class="right"><TextContent /></div>
		</div>
	</Content>
</slot>

<style>
	.content-wrapper {
		display: flex;
		flex-direction: row;
	}
	.left {
		flex: 1;
	}
	.right {
		flex: 3;
	}
</style>
