<script>
	import { page } from '$app/stores';
	import flat from '$data/flat.json';
	import { Content, Tile, ClickableTile } from 'carbon-components-svelte';
	$: kw = $page.params.route;
	$: lowerCaseValue = $page.params.route.toLowerCase();
	$: searchResults = flat.filter((itempage) => {
		return (
			itempage.title.toLowerCase().includes(lowerCaseValue) ||
			itempage.text.toLowerCase().includes(lowerCaseValue)
		);
	});
</script>

<slot name="content">
	<Content>
		<div class="content-wrapper">
			<Tile>
				<h1 class="sr-header">Search Results for "{kw}"</h1>
				<h2 class="resultcount">
					{`${searchResults.length} result${searchResults.length === 1 ? '' : 's'}`}
				</h2>
			</Tile>
			{#each searchResults as result}
				<ClickableTile href={`${result.itemId}`}>
					<div class="flexor">
						<img src={result.image} alt="" class="sr-image" />
						<div class="vertiflexor">
							<h2 class="sr-title">
								{result.title}
							</h2>
							<p class="sr-text">
								{@html result.text
									.replace(new RegExp(kw, 'gi'), (match) => `<mark>${match}</mark>`)
									.replace(new RegExp('\n', 'gi'), (match) => `<br />`)}
							</p>
						</div>
					</div>
				</ClickableTile>
			{/each}
		</div>
	</Content>
</slot>

<style>
	.sr-header,
	.resultcount {
		width: 100%;
		margin: 0 0 30px 10px;
		margin: 0;
	}
	.resultcount {
		font-size: 20px;
		line-height: 20px;
	}
	.content-wrapper {
		width: 65vw;
		margin: auto;
	}
	.vertiflexor,
	.flexor {
		display: flex;
	}
	.vertiflexor {
		flex-direction: column;
	}
	:global(.flexor > *) {
		min-width: 232px !important;
	}
	:global(.content-wrapper > *) {
		margin-bottom: 10px !important;
	}
	.sr-image {
		object-fit: contain;
		width: 200px;
	}
	.sr-text,
	.sr-title {
		padding: 0 20px 35px 35px;
	}
	.sr-text {
		white-space: pre-wrap;
	}
</style>
