<script>
	import { ClickableTile, Tile } from 'carbon-components-svelte';
	// export let textId, itemData, textContent;
	import { textId, textContent, itemData } from '$src/stores';
	const thumbUrl = 'https://digital.newberry.org/transcribe/omeka/files/thumbnails/';
	const fullSizeUrl = 'https://digital.newberry.org/transcribe/omeka/files/original/';
	const transcUrl = ['https://publications.newberry.org/transcribe/#/item/', '/page/'];
</script>

<div class="title-wrapper">
	{#if Object.keys($itemData).length > 0}
		<Tile><h1>{$itemData.title}</h1></Tile>
	{/if}
</div>

{#each $textContent.pages as page}
	<div class="tile-wrapper">
		<Tile>
			<div class="page-wrapper">
				<img class="page-image" alt="" src={thumbUrl + page.pagefilename} />
				<p class="page-text">
					{@html page.transcription}
					<a
						href={`https://publications.newberry.org/transcribe/#/item/${$textContent.id}/page/${page.pageid}`}
						class="pageno">page {page.pageid}</a
					>
				</p>
			</div>
		</Tile>
	</div>
{/each}

<style>
	.pageno {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 0.85rem;
		color: var(--cds-text-01, #161616);
	}
	.tile-wrapper,
	.title-wrapper,
	.page-wrapper {
		margin: 5px 5px 5px 0;
	}
	.page-wrapper {
		display: flex;
		flex-direction: row;
	}
	:global(.page-wrapper > *) {
		min-width: 232px !important;
		width: 100%;
	}
	.page-text {
		flex: 1;
		margin: 0 20px;
		position: relative;
	}
	.page-image {
		object-fit: contain;
		width: 200px;
	}
</style>
