<script>
	import { ClickableTile } from 'carbon-components-svelte';
	import { imlsIds } from '$src/stores';
	import items from '$data/items.json';
</script>

<div class="tiles-wrapper">
	{#each items as item}
		<div class="tile-wrapper">
			<ClickableTile href={`${item.id}`}
				><p class="item-title">{item.title}</p>
				<p class="item-id">(item {item.id})</p></ClickableTile
			>
		</div>
	{/each}
</div>

<style>
	.item-title {
		font-weight: bold;
	}
	.item-id {
		font-size: 0.8rem;
	}
	.tile-wrapper {
		margin: 5px;
	}
</style>
