<script>
	import 'carbon-components-svelte/css/all.css';
	import { Content } from 'carbon-components-svelte';
	import Header from '$lib/Header.svelte';
</script>

<svelte:head>
	<title>IMLS Transcribe</title>
	<base href="/imls-transcribe/" />
</svelte:head>
<Header />
<Content>
	<slot />
</Content>
