<script>
	import { Content } from 'carbon-components-svelte';
	import Tiles from '$lib/Tiles.svelte';
	const waldenIds = ['1378', '1382', '1393', '1380', '1383', '1394', '1381', '1391'];
</script>

<slot>
	<Content>
		<div class="content-wrapper">
			<div class="left"><Tiles /></div>
			<div class="right">
				<h1>Welcome.</h1>
			</div>
		</div>
	</Content>
</slot>

<style>
	.content-wrapper {
		display: flex;
		flex-direction: row;
	}
	.left {
		flex: 1;
	}
	.right {
		flex: 3;
	}
	h1 {
		padding: 10vh 10vw;
	}
</style>
