<script>
	import bibiditems from '$data/bibidurl_omekaitems.json';
	import {
		truncate,
		ExpandableTile,
		StructuredList,
		StructuredListHead,
		StructuredListRow,
		StructuredListCell,
		StructuredListBody
	} from 'carbon-components-svelte';

	import items from '$data/items_bibidurls.json';
	// let sortedItems = items.sort((a, b) => b.id - a.id);
	let bibidedItems = items.map((i) => i.id).sort((a, b) => a - b);
	// 	.map((item) => {
	// 		if (item.id == 1315) {
	// 			console.log('item', item);
	// 			console.log('item.pages', item.pages);
	// 			let retarr = item;
	// 			let pages = item.pages.map((p) => {
	// 				let bbdi = bibiditems[item.id].filter((bi) => {
	// 					// console.log('bi.page_id == p', bi.page_id, p, bi.page_id == p);
	// 					// console.log('p', p);
	// 					return bi.page_id == p[0];
	// 				});
	// 				// console.log('bbdi', bbdi);
	// 				return bbdi;
	// 			});
	// 			// bipage = bipage[0];
	// 			// console.log('pages', pages);
	// 			// return bipage;
	// 			// });
	// 			retarr.pages = pages;
	// 			return retarr;
	// 		} else {
	// 			return false;
	// 		}
	// 	})
	// 	.filter((o) => o);
</script>

<pre>

    {JSON.stringify(bibidedItems, null, 4)}
</pre>
<div class="wrapper">
	<div class="left">
		<!-- {#each sortedItems as item}
			<ExpandableTile>
				<div slot="above">
					<p use:truncate>{item.id + ': ' + item.title}</p>
				</div>
				<div slot="below" style="height: 10rem">
					<StructuredList>
						<StructuredListHead>
							<StructuredListRow head>
								<StructuredListCell head>page count</StructuredListCell>
								<StructuredListCell head>item id</StructuredListCell>
								<StructuredListCell head>page id</StructuredListCell>
								<StructuredListCell head>page orig fn</StructuredListCell>
							</StructuredListRow>
						</StructuredListHead>
						<StructuredListBody>
							{#each bibiditems[item.id] as pagedata}
								<StructuredListRow>
									<StructuredListCell>{bibiditems[item.id].length}</StructuredListCell>
									<StructuredListCell>{pagedata.item_id}</StructuredListCell>
									<StructuredListCell>{pagedata.page_id}</StructuredListCell>
									<StructuredListCell>{pagedata.original_filename}</StructuredListCell>
								</StructuredListRow>
							{/each}
						</StructuredListBody>
					</StructuredList>
				</div>
			</ExpandableTile>
		{/each} -->
	</div>
</div>

<style>
	.wrapper {
		max-width: 60vw;
		margin: auto;
	}
</style>
