<script>
	import { page } from '$app/stores';
	import { imlsIds } from '$src/stores';
	import Item from '$lib/Item.svelte';
	import SearchResults from '$lib/SearchResults.svelte';
	$: showItemPage = $imlsIds.includes($page.params.route);
</script>

<div>
	{#if showItemPage}
		<Item />
	{:else}
		<SearchResults />
	{/if}
</div>
