<script>
	import file1378 from '$data/item_files/1378.json';
	import file1380 from '$data/item_files/1380.json';
	import file1381 from '$data/item_files/1381.json';
	import file1382 from '$data/item_files/1382.json';
	import file1383 from '$data/item_files/1383.json';
	import file1391 from '$data/item_files/1391.json';
	import file1393 from '$data/item_files/1393.json';
	import file1394 from '$data/item_files/1394.json';

	const allData = [
		file1378,
		file1380,
		file1381,
		file1382,
		file1383,
		file1391,
		file1393,
		file1394
	].flat();
	const makeCsv = allData.map((ad, idx) => {
		let transc = ad.element_texts.filter((et) => et.element.name === 'Transcription')[0].text;

		return [ad.item.id, ad.id, ad.file_urls.original, ad.original_filename, transc];
	});
	console.log(makeCsv);
</script>

<pre>
[
	{#each makeCsv as mc}
		{JSON.stringify(mc, null, 4)},
	{/each}
]	
</pre>
