<script>
	import { ClickableTile } from 'carbon-components-svelte';
	let itemList = [
		[
			'1378',
			'https://transcribe.newberry.org/files/square_thumbnails/978f12f4c83e28f59cad4d4a42d56358.jpg',
			'May Walden letters [part 1], 1884-1957'
		],
		[
			'1380',
			'https://transcribe.newberry.org/files/square_thumbnails/fc72ebe6123594bb797a1404c8a7ca90.jpg',
			'May Walden letters [part 2], 1884-1957'
		],
		[
			'1381',
			'https://transcribe.newberry.org/files/square_thumbnails/fd9e28f261a27120a5de904c0932bd9a.jpg',
			'May Walden letters [part 3], 1884-1957'
		],
		[
			'1382',
			'https://transcribe.newberry.org/files/square_thumbnails/0c5a37753b9bc58e4b88fc05b244d627.jpg',
			'May Walden letters [part 4], 1884-1957'
		],
		[
			'1383',
			'https://transcribe.newberry.org/files/square_thumbnails/41778259eb1e1b77f93d457dc992df21.jpg',
			'May Walden letters [part 5], 1884-1957'
		],
		[
			'1391',
			'https://transcribe.newberry.org/files/square_thumbnails/6319a0b061bf0f23ec025e00c6472d37.jpg',
			'May Walden letters [part 6], 1884-1957'
		],
		[
			'1393',
			'https://transcribe.newberry.org/files/square_thumbnails/1d6f8c310df916db1823a80297831bbe.jpg',
			'May Walden letters [part 8], 1884-1957'
		],
		[
			'1394',
			'https://transcribe.newberry.org/files/square_thumbnails/66c58298ea7260aee311300253c1afca.jpg',
			'May Walden letters [part 9], 1884-1957'
		]
	];
</script>

<div class="flexor">
	{#each itemList as item}
		<div class="tile-wrapper">
			<ClickableTile href={'itemfiles/' + item[0]}>
				<img src={item[1]} alt="placeholder" />
				<caption>{item[2]}</caption>
			</ClickableTile>
		</div>
	{/each}
</div>

<style>
	.flexor {
		justify-content: space-around;
		display: flex;
		flex-wrap: wrap;
	}
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		/* max-width: 250px; */
		/* width: 250px; */
	}
	.tile-wrapper {
		width: 290px;
		/* padding: 10px; */
		margin: 10px;
		border: 1px solid white;
	}
	:global(.tile-wrapper > *) {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	caption {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 1;
		padding: 10px;
		width: 100%;
	}
</style>
