<script>
	// import data from './bibidApiCallData.json';
	import cortexData from './cortexData.json';
	import bibidTranscriptions from './bibidTranscriptions.json';
	// export let data;
	// console.log(data);
	import {
		truncate,
		Dropdown,
		StructuredList,
		StructuredListHead,
		StructuredListRow,
		StructuredListCell,
		StructuredListBody,
		Accordion,
		AccordionItem
	} from 'carbon-components-svelte';
	// const bibids = data[0];
	// const cortexData = data[1]
	// 	.map((cd) => cd.APIResponse.Items)
	// 	.reduce((a, b) => a.concat(b))
	// 	.map((ctxi) => ({
	// 		unid: ctxi['SystemIdentifier'],
	// 		title: ctxi['Title'],
	// 		bibid: ctxi['new.BibID-Link'],
	// 		origfn: ctxi['CoreField.OriginalFileName']
	// 	}));

	var extRegex = /(?:\.([^.]+))?$/;
	var pictionRegex = /\_o([0-9]{1,3})/;
	const corteximage = (omekafn, id) => {
		let uOmekafn = omekafn;
		if (omekafn.indexOf(' copy') > 0) {
			uOmekafn.replace(' copy', '');
		}
		if (uOmekafn.indexOf('_o2') > 0) {
			uOmekafn.replace('_o2', '');
		}
		let fileExtension = '.' + omekafn.match(extRegex)[1];
		// let pictionChunk = omekafn.match(pictionRegex) ? '_o' + omekafn.match(pictionRegex)[1] : '';
		uOmekafn = omekafn.replace(fileExtension, '');
		let ctxfnMatch = cortexData.filter((ctxd) => {
			return ctxd.origfn.includes(uOmekafn);
		});
		if (ctxfnMatch) console.log(ctxfnMatch);
		return uOmekafn;
	};
	console.log(cortexData);
</script>

<div class="wrapper">
	<div class="left">
		<Accordion>
			{#each bibidTranscriptions as item, idx}
				<!-- {#if item.id == '136207'} -->
				<AccordionItem title={`transcribe item: ${item.id} - bibid: ${item.bibid}`}>
					<StructuredList>
						<StructuredListHead>
							<StructuredListRow head>
								<StructuredListCell head>omeka</StructuredListCell>
								<StructuredListCell head>cortex</StructuredListCell>
							</StructuredListRow>
						</StructuredListHead>
						<StructuredListBody>
							<!-- {#if idx < 10} -->
							{#each item.pages as page}
								<StructuredListRow>
									<StructuredListCell>{page.pageid}</StructuredListCell>
									<StructuredListCell>{page.pageorigfilename}</StructuredListCell>
									<StructuredListCell
										>{@html corteximage(page.pageorigfilename, item.id)}</StructuredListCell
									>
								</StructuredListRow>
							{/each}
							<!-- {/if} -->
						</StructuredListBody>
					</StructuredList>
				</AccordionItem>
				<!-- {/if} -->
			{/each}
		</Accordion>
	</div>
</div>

<style>
	.wrapper {
		max-width: 60vw;
		margin: auto;
	}
</style>
