<script>
	import { page } from '$app/stores';
	import { onMount } from 'svelte';
	const { id } = $page.params;
	console.log(id);
	let apiData;
	onMount(async () => {
		fetch('/imls-transcribe/item_files/' + id + '.json')
			.then((response) => response.json())
			.then((data) => {
				apiData = data;
			})
			.catch((error) => {
				console.log(error);
				return [];
			});
	});

	import {
		StructuredList,
		StructuredListHead,
		StructuredListRow,
		StructuredListCell,
		StructuredListBody
	} from 'carbon-components-svelte';
	// function
</script>

<StructuredList>
	<StructuredListHead>
		<StructuredListRow head>
			<StructuredListCell head>item id</StructuredListCell>
			<StructuredListCell head>page id</StructuredListCell>
			<StructuredListCell head>original filename</StructuredListCell>
			<StructuredListCell head>transcription</StructuredListCell>
		</StructuredListRow>
	</StructuredListHead>
	<StructuredListBody>
		{#if apiData}
			{#each Object.values(apiData) as file}
				<StructuredListRow>
					<StructuredListCell
						><a href={`https://publications.newberry.org/transcribe/#/item/${file.item.id}`}
							>{file.item.id}</a
						></StructuredListCell
					>
					<StructuredListCell
						><a
							href={`https://publications.newberry.org/transcribe/#/item/${file.item.id}/page/${file.id}`}
							>{file.id}</a
						></StructuredListCell
					>
					<StructuredListCell
						><a href={file.file_urls.original}>{file.original_filename}</a></StructuredListCell
					>
				</StructuredListRow>
			{/each}
		{/if}
	</StructuredListBody>
</StructuredList>

<style>
	a {
		color: var(--cds-text-02, #525252);
	}
</style>
