<script>
	// import item1370 from '$data/all_transc_split/item_1370.json';
	import items from '$data/allItems.json';
	// import debs from '$data/debs.json';
	import {
		truncate,
		Accordion,
		AccordionItem,
		ExpandableTile,
		StructuredList,
		StructuredListHead,
		StructuredListRow,
		StructuredListCell,
		StructuredListBody
	} from 'carbon-components-svelte';
	import origfn from '$data/items_with_origfn.json';
	// const pages = debs.APIResponse.Items.map((p) => p['CoreField.OriginalFileName']);
	// export let data
	// const results = Object.values(data).filter(d => d.APIResponse.Items.length > 0)
	// console.log(results)
	const transcpages = [
		'midwest_ms_brommel_debs_box_007_fl_086_001_001',
		'midwest_ms_brommel_debs_box_007_fl_086_001_002',
		'midwest_ms_brommel_debs_box_007_fl_087_001_001',
		'midwest_ms_brommel_debs_box_007_fl_088_001_001',
		'midwest_ms_brommel_debs_box_007_fl_088_002_001',
		'midwest_ms_brommel_debs_box_007_fl_088_002_002',
		'midwest_ms_brommel_debs_box_007_fl_088_002_003',
		'midwest_ms_brommel_debs_box_007_fl_088_002_004',
		'midwest_ms_brommel_debs_box_007_fl_089_003_001',
		'midwest_ms_brommel_debs_box_007_fl_089_003_002',
		'midwest_ms_brommel_debs_box_007_fl_090_001_001',
		'midwest_ms_brommel_debs_box_007_fl_091_005_001',
		'midwest_ms_brommel_debs_box_007_fl_091_008_001'
	];
	// const finder = pages.filter((p) => transcpages.some((tp) => p.includes(tp)));

	const cataloglinks = items.items
		.filter(
			(i) =>
				i.cataloglink.match(/99([0-9]{3,12}8805867)/) ||
				i.cataloglink.match(/BBRecID=([0-9]{3,12})/)
		)
		.map((i) => [i.id, i.cataloglink, i.title])
		.sort((a, b) => b[0] - a[0]);
	// const cataloglinks_bibidurls = cataloglinks.filter((cl) => cl[3].some((c) => c !== null));

	const origfn_bibidurls = origfn.filter((ofn) => {
		let idlist = cataloglinks.map((id) => id[0]);
		return idlist.includes(ofn.item_id);
	});
	$: console.log(origfn_bibidurls);
</script>

<pre>

	{JSON.stringify(origfn_bibidurls, null, 4)}
</pre>

<style>
	.wrapper {
		display: flex;
		max-width: 90vw;
		justify-content: center;
	}
	.left,
	.right {
		flex: 1;
		max-width: 45vw;
		padding: 15px;
	}
</style>
