<script>
	import { DataTable, Link } from 'carbon-components-svelte';
	export let data;
	import Launch from 'carbon-icons-svelte/lib/Launch.svelte';
	let rouws = Object.values(data).map((d) => ({
		id: d.APIResponse.Items[0]['CoreField.Identifier'],
		title: d.APIResponse.Items[0]['Title'],
		unid: [
			d.APIResponse.Items[0]['CoreField.Identifier'],
			d.APIResponse.Items[0]['Document.CortexShareLink']
		],
		parentid: [
			d.APIResponse.Items[0]['Document.ParentIdentifier'],
			d.APIResponse.Items[0]['Document.CortexParentLink']
		]
	}));
	let rows = Object.values(data).map((d) => ({
		id: d.APIResponse.Items[0]['CoreField.Identifier'],
		title: d.APIResponse.Items[0]['Title'],
		unid: d.APIResponse.Items[0]['CoreField.Identifier'],
		itemlink: d.APIResponse.Items[0]['Document.CortexShareLink'],
		parentid: d.APIResponse.Items[0]['Document.ParentIdentifier'],
		parentlink: d.APIResponse.Items[0]['Document.CortexParentLink']
	}));
</script>

<DataTable
	stickyHeader
	sortable
	headers={[
		{ key: 'title', value: 'title' },
		{ key: 'unid', value: 'unid' },
		{ key: 'itemlink', value: 'itemlink' },
		{ key: 'parentid', value: 'parentid' },
		{ key: 'parentlink', value: 'parentlink' }
	]}
	{rows}
>
	<svelte:fragment slot="cell" let:row let:cell>
		{#if cell.key === 'itemlink' || cell.key === 'parentlink'}
			<Link icon={Launch} href={cell.value} target="_blank">{cell.value}</Link>
		{:else}
			{cell.value}
		{/if}
	</svelte:fragment>
</DataTable>

<style>
	:global(.bx--data-table--sticky-header) {
		max-height: calc(90vh - 60px) !important;
	}
	:global(.bx--link) {
		align-items: center;
	}
</style>
