<script>
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';
	import {
		truncate,
		Dropdown,
		StructuredList,
		StructuredListHead,
		StructuredListRow,
		StructuredListCell,
		StructuredListBody
	} from 'carbon-components-svelte';
	export let data;
	// console.log(data);
	const cortexApiUrls = data[0].pages.map((d) => {
		let filename = d.pageorigfilename.replace('.jpg', '').replace(/\_o[0-9]/, '');
		if (isNaN(filename.slice(-1))) {
			filename = filename.slice(0, -1);
		}
		return filename;
	});
	let bibid = data[2];
	let corteximages = data[1].APIResponse.Items.map((ci) => ci['CoreField.OriginalFileName']);
	let bibidItems = [
		'38',
		'210',
		'211',
		'212',
		'213',
		'804',
		'829',
		'830',
		'832',
		'834',
		'836',
		'840',
		'841',
		'842',
		'845',
		'846',
		'847',
		'848',
		'849',
		'850',
		'853',
		'855',
		'858',
		'859',
		'860',
		'861',
		'864',
		'865',
		'866',
		'871',
		'872',
		'873',
		'879',
		'880',
		'883',
		'884',
		'889',
		'891',
		'894',
		'896',
		'897',
		'900',
		'902',
		'905',
		'907',
		'910',
		'913',
		'914',
		'917',
		'919',
		'921',
		'922',
		'923',
		'928',
		'930',
		'931',
		'932',
		'933',
		'935',
		'936',
		'937',
		'938',
		'939',
		'943',
		'944',
		'961',
		'962',
		'963',
		'964',
		'965',
		'966',
		'967',
		'968',
		'969',
		'970',
		'971',
		'972',
		'973',
		'975',
		'976',
		'977',
		'979',
		'980',
		'981',
		'994',
		'995',
		'996',
		'1012',
		'1014',
		'1015',
		'1016',
		'1017',
		'1018',
		'1024',
		'1026',
		'1029',
		'1036',
		'1037',
		'1038',
		'1039',
		'1040',
		'1041',
		'1042',
		'1044',
		'1045',
		'1046',
		'1047',
		'1048',
		'1049',
		'1050',
		'1051',
		'1052',
		'1053',
		'1054',
		'1055',
		'1056',
		'1057',
		'1058',
		'1059',
		'1060',
		'1061',
		'1062',
		'1063',
		'1064',
		'1065',
		'1066',
		'1067',
		'1068',
		'1069',
		'1070',
		'1071',
		'1072',
		'1073',
		'1074',
		'1075',
		'1076',
		'1077',
		'1083',
		'1084',
		'1085',
		'1086',
		'1137',
		'1164',
		'1167',
		'1191',
		'1193',
		'1194',
		'1195',
		'1196',
		'1197',
		'1198',
		'1199',
		'1201',
		'1202',
		'1203',
		'1204',
		'1205',
		'1206',
		'1207',
		'1209',
		'1210',
		'1211',
		'1212',
		'1227',
		'1228',
		'1229',
		'1230',
		'1231',
		'1259',
		'1261',
		'1264',
		'1265',
		'1266',
		'1276',
		'1285',
		'1286',
		'1287',
		'1288',
		'1289',
		'1290',
		'1292',
		'1293',
		'1294',
		'1295',
		'1297',
		'1298',
		'1299',
		'1300',
		'1301',
		'1302',
		'1303',
		'1304',
		'1305',
		'1306',
		'1307',
		'1308',
		'1309',
		'1310',
		'1311',
		'1312',
		'1313',
		'1314',
		'1315',
		'1316',
		'1320',
		'1324',
		'1325',
		'1326',
		'1327',
		'1328',
		'1329',
		'1330',
		'1349',
		'1353',
		'1355',
		'1356',
		'1358',
		'1359',
		'1360',
		'1361',
		'1362',
		'1363',
		'1365',
		'1366',
		'1367',
		'1368',
		'1369',
		'1370',
		'1371',
		'1372',
		'1399'
	];
	const corteximage = (i) => {
		let retval = corteximages.filter((ci) => ci.includes(i))[0];
		if (retval) {
			retval = retval.replace(new RegExp(i, 'gi'), (match) => `<mark>${match}</mark>`);
		}
		// console.log(retval);
		return retval || '<mark class="redd">no match</mark>';
	};
	function routeToPage(route, replaceState = false) {
		route = 'bibid/' + route;
		goto(`/${route}`, { replaceState });
	}
	let selectedId = $page.params.item;
</script>

<!-- {JSON.stringify(data[1].APIResponse)} -->
<div class="toprow">
	<div class="titlewrap">
		<h1>
			omeka id: {data[0].id}; bibid: {bibid}
		</h1>
		<div class="links">
			<h3>
				<a href={data[0].cataloglink}>catalog link</a>
				<a
					href="https://collections.newberry.org/API/search/v3.0/search?query=new.BibID-Link:{bibid}&fields=CoreField.Unique-identifier,Title,new.BibID-Link,CoreField.OriginalFileName&format=json"
				>
					cortex api link
				</a>
			</h3>
		</div>
	</div>
	<div class="dropd">
		<Dropdown
			bind:selectedId
			on:select={() => routeToPage(selectedId)}
			items={bibidItems.map((bi) => ({ id: bi, text: bi }))}
		/>
	</div>
</div>
<div class="wrapper">
	<div class="left">
		<StructuredList>
			<StructuredListHead>
				<StructuredListRow head>
					<StructuredListCell head>omeka</StructuredListCell>
					<StructuredListCell head>cortex</StructuredListCell>
				</StructuredListRow>
			</StructuredListHead>
			<StructuredListBody>
				{#each cortexApiUrls as path}
					<StructuredListRow>
						<StructuredListCell>{path}</StructuredListCell>
						<StructuredListCell>{@html corteximage(path)}</StructuredListCell>
					</StructuredListRow>
				{/each}
			</StructuredListBody>
		</StructuredList>
	</div>
</div>

<style>
	.toprow {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.titlewrap {
		width: 50%;
	}
	.dropd {
		flex: 1;
	}
	:global(.redd) {
		padding: 5px 10px;
		color: red;
		background: rgba(255, 0, 0, 0.1);
	}
	/* .wrapper {
		max-width: 90vw;
		display: flex;
		justify-content: center;
	}
	.left,
	.right {
		flex: 1;
		max-width: 44vw;
	} */
</style>
